<nav class="b-nav">
    <div class="d-flex align-items-center w-100 h-100 c-i">
        <a class="w-100 b-right a-nav d-flex justify-content-center" href="/pr" style="height: 100% !important;">
            <div class="d-flex justify-content-center align-items-center w-100 c-i">
                <img class="nav-img" src="/static/img/home.png" alt="Home">
            </div>
        </a>

        <a class="w-100 a-nav d-flex justify-content-center" href="/pr/perfil" style="height: 100% !important;">
            <div class="d-flex justify-content-center align-items-center w-100 c-i">
                <img class="nav-img" src="/static/img/user.png" alt="Home">
            </div>
        </a>
    </div>
</nav>